/* Colors:
    Primary Teal: #66FCF1
    Dark Teal: #45A29E
    Gray: #C5C6C7
    Dark Blue Gray: #1F2833
    Almonst Black: #0B0C10
    */

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template:
    'head head' 15%
    'nav content' 1fr
    / 20% 1fr;
}

.App-header {
  grid-area: head;
}

.Nav {
  grid-area: nav;
}

.Content {
  grid-area: content;
}
.exerciseName {
  font-weight: bold;
}

.characteristic {
}

.userImage {
  border-radius: 50%;
}

.Data {
  display: flex;
  flex-direction: column;
}

.monthButton {
  background-color: #66fcf1;
  margin: 15px;
  border-radius: 5px;
}

.monthButton:hover {
  background-color: #5ccac3;
}

.currentMonth {
  color: purple;
}

.calendarDays {
  background-color: purple;
}

.daysofWeek {
  background-color: blue;
}
