.App {
  text-align: center;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template:
    'head head' 15%
    'nav content' 1fr
    / 20% 1fr;
}

.App-header {
  grid-area: head;
}

.Nav {
  grid-area: nav;
}

.Content {
  grid-area: content;
}
.exerciseName {
  font-weight: bold;
}

.characteristic {
}
